<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">
    <title>ABOUT US</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">


            <div class="logo pr-2">
                <img src="img/logo.png" alt="">
            </div>
            <a href="http://localhost:3000/" class="navbar-brand">
            <i>AMBULARE</i>
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
            <span class="navbar-toggler-icon">

            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarcollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="http://localhost:3000/hospital" class="nav-link">
                  HOSPITALS
              </a>
            </li>

            <li class="nav-item">
              <a href="http://localhost:3000/hospital_home" class="nav-link">
                HOSPITAL_HOME
            </a>
          </li>
          <li class="nav-item">
            <a href="http://localhost:3000/aboutus" class="nav-link">
              ABOUT US
          </a>
          </li>
          
          </li>
            </ul>
          </div>
        </div>
      </nav>





    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 people">


        <div class="col mb-4">
            <div class="card h-100">
                <img src="img/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>



        <div class="col mb-4">
            <div class="card h-100">
                <img src="img/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>






        <div class="col mb-4">
            <div class="card h-100">
                <img src="img/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>


    </div>

</div>





<div class="text-center">
    <p>You may refer to the code : <a href="#">HERE</a></p>
</div>










    <footer>
    <div class="end">
        <div class="icon-bar">
          <p>
              <a href="#"><i class="fa fa-home"></i></a><strong>ADDRESS : 291 J P NAGAR</strong>
               <br>
          </p>
          <p>
              <a href="#"><i class="fa fa-envelope"></i></a><strong>piyushsethi291@gmail.com</strong>
              <br>
          </p>
          <p>
              <a href="#"><i class="fas fa-phone-alt"></i></a> <strong>8196967111</strong>
              <br>
         </p>

        </div>
        <section>

            <a href="#" class="facebook"><img src="img/fblogo.png"></a>
            <a href="#" class="twitter"><img src="img/twitter.jfif"></a>
            <a href="#" class="linkedin"><img src="img/linkedin.jfif"></a>
            <a href="#" class="instagram"><img src="img/instagram.jfif"></a>

        </section>

    </div>
</footer>



</body>
</html>
