<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">
    <script src="server.js"></script>
    <title>MAP</title>
</head>
<body>



    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">


            <div class="logo pr-2">
                <img src="img/logo.png" alt="">
            </div>
            <a href="index.html" class="navbar-brand">
            <i>AMBULARE</i>
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
            <span class="navbar-toggler-icon">

            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarcollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="hospital.html" class="nav-link">
                  HOSPITALS
              </a>
            </li>
            <li class="nav-item">
              <a href="activity.html" class="nav-link">
                ACTIVITIES
            </a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">
              ABOUT US
          </a>
          </li>
          <li class="nav-item">
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="login.html" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    LOGIN
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">PATIENT</a>
                    <a class="dropdown-item" href="#">HOSPITAL</a>
                  </div>
              </div>

          </li>
            </ul>
          </div>
        </div>
      </nav>






</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">
    <title>HOSPITAL_HOME</title>
</head>
<body>



    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">


            <div class="logo pr-2">
                <img src="img/logo.png" alt="">
            </div>
            <a href="http://localhost:3000/" class="navbar-brand">
            <i>AMBULARE</i>
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
            <span class="navbar-toggler-icon">

            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarcollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="http://localhost:3000/hospital" class="nav-link">
                  HOSPITALS
              </a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:3000/hospital_home" class="nav-link">
                HOSPITAL_HOME
            </a>
          </li>
          <li class="nav-item">
            <a href="http://localhost:3000/aboutus" class="nav-link">
              ABOUT US
          </a>
          </li>
          <li class="nav-item">
            <a href="http://localhost:3000/after_booking" class="nav-link">
              AFTER_BOOKING
          </a>
          </li>
            </ul>
          </div>
        </div>
      </nav>


          <div class="container">

              <form class"" action="/hospital_home" method="post">
                  <div class="form-row">

                      <div class="form-group col-md-12">
                          <label for="inputEmail4">Name of Hospital</label>

                      </div>

                    <h1>PROVIDE_SERVICE</h1>
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Name</label>
                      <input type="name" class="form-control" id="inputEmail4" name="name">
                    </div>


                    <div class="form-group col-md-12">
                      <label for="inputPassword4">Password</label>
                      <input type="password" class="form-control" id="inputPassword4" name="password">
                    </div>

                    <div class="form-group col-md-12">
                      <label for="inputPassword5">YES/NO</label></label>
                      <input type="password" class="form-control" id="inputPassword5" name="ans">
                    </div>
                    <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>


              </form>



</body>
</html>
